<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
					    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="menu">
	<select id="getMenuInfo" resultType="menu.MenuBean">
		<![CDATA[
			select menu_idx, menu_title, menu_content
			from menu_table
			order by menu_idx
		]]>
	</select>

	<select id="getSubMenuInfo" parameterType="java.lang.String" resultType="menu.MenuBean">
		<![CDATA[
			select menu_idx, menu_title, submenu_idx, submenu_title, submenu_eng
			from submenu_table
			where menu_idx = #{menu_idx}
			order by submenu_idx
		]]>
	</select>
</mapper>